.login-container {
  height: 650px;
  width: 100%;
  max-width: 1920px; }

.login_bj {
  background: url(../img/login-bj.jpg) no-repeat center;
  height: 673px;
  width: 100%;
  position: relative;
  background-size: cover; }

.zc_cur_bj {
  width: 1220px;
  height: 673px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -610px; }

.qixi_tz {
  display: block;
  position: absolute;
  left: 0;
  width: 815px;
  height: 613px; }

select {
  border: solid 1px #b3b3b3;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -khtml-border-radius: 0;
  background: url(../img/arr3.png) no-repeat scroll 265px center #fff; }

select::-ms-expand {
  display: none; }

option {
  border: solid 1px #b3b3b3;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -khtml-border-radius: 0;
  background: #fff; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1240px) and (orientation: landscape) {
  .login_bj {
    width: 1240px; } }

#loginForm {
  padding-top: 35px; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset; }

.register {
  width: 395px;
  height: 515px;
  background: #fafafa;
  padding-top: 40px;
  font-size: 14px;
  color: #000;
  float: right;
  position: relative;
  margin-top: 30px; }

.register_pass {
  height: 375px; }

.register_p {
  width: 290px;
  height: 40px;
  margin: 0 auto;
  line-height: 40px; }

.register_nav {
  display: table;
  position: relative;
  margin: 0 auto;
  height: 60px; }
  .register_nav .register_text {
    width: 290px;
    text-indent: 50px;
    border: solid 1px #b3b3b3;
    font-size: 14px;
    padding: 13px 0 14px 10px;
    position: relative;
    margin-top: 0px; }
  .register_nav #regspan {
    position: absolute;
    line-height: 40px;
    vertical-align: middle;
    right: 10px;
    top: 0;
    font-size: 20px;
    color: green;
    display: none; }
  .register_nav #regspan2 {
    position: absolute;
    line-height: 40px;
    vertical-align: middle;
    right: 10px;
    top: 0;
    font-size: 20px;
    color: red;
    opacity: 0; }
  .register_nav .indent {
    text-indent: 0;
    height: 45px; }
  .register_nav .register_text:focus {
    border: solid 2px #b3b3b3;
    outline: none; }
  .register_nav .reminder {
    color: #EB2D47;
    font-size: 12px;
    text-align: left;
    width: 250px;
    height: 22px;
    line-height: 22px;
    padding-left: 16px; }
  .register_nav .register_yzm {
    width: 290px;
    border: solid 1px #b3b3b3;
    -moz-border: solid 1px #b3b3b3;
    -o-border: solid 1px #b3b3b3;
    -weikit-border: solid 1px #b3b3b3;
    position: relative;
    font-size: 14px;
    padding: 14px 0 14px 10px;
    margin-top: 0px; }
  .register_nav .register_yzmdiv {
    width: 100px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    background: #d2d2d2;
    color: cornflowerblue;
    font-size: 20px;
    text-align: center; }

.register_nav span,
.signin_nav span {
  position: absolute;
  line-height: 25px;
  height: 25px;
  vertical-align: middle;
  right: 0;
  top: 0; }

#yzmspan {
  font-size: 12px;
  color: red;
  position: absolute;
  left: 5px;
  top: 40px;
  display: none; }

.register_p a {
  color: #000;
  float: right; }

.register_yyzm {
  color: #83847e;
  font-size: 12px;
  margin: 0;
  line-height: 38px;
  cursor: pointer; }

.register_yyzm > label {
  color: #9999ff;
  cursor: pointer; }

.register_nav_86 {
  width: 50px;
  line-height: 45px;
  border-right: solid 1px #b3b3b3;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center; }

.register_nav .register_password,
.signin_nav .register_password {
  width: 290px;
  border: solid 1px #b3b3b3;
  font-size: 14px;
  padding: 14px 0 14px 10px; }

.register_nav .register_password:focus {
  border: 1px solid #b3b3b3;
  outline: none; }

.register_yzmnext {
  color: #83847e;
  font-size: 12px;
  display: table-cell;
  vertical-align: middle;
  float: right;
  height: 30px;
  line-height: 30px;
  margin-right: 50px;
  display: inline;
  position: absolute;
  right: -93px;
  /* top: 175px; */
  top: 7px; }

.register_yzmnext:hover {
  color: #333;
  text-decoration: underline; }

.signin_a {
  width: 390px;
  margin: 0 auto; }

.signin_zc {
  float: left;
  margin-left: 50px;
  display: inline;
  font-size: 14px;
  color: #000; }

.signin_forget {
  display: block;
  text-align: right;
  font-size: 14px;
  color: #000;
  width: 343px; }

.signin_button {
  height: 45px;
  line-height: 45px;
  display: block;
  text-align: center;
  color: #fff;
  margin: 10px auto 0;
  background: #c6c6c6;
  width: 290px;
  font-size: 16px;
  text-indent: px;
  letter-spacing: 2px; }

.register_bottom {
  width: 395px;
  height: 58px;
  background: url(http://www.roseonly.com.cn/upload/syspic_new/14823056266527534.svg) no-repeat scroll 15px center #c6c6c6;
  background-size: 25% auto;
  text-align: center;
  line-height: 58px;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  padding-left: 30px; }

.register_button {
  width: 290px;
  margin: 0px auto; }
  .register_button input {
    width: 290px;
    height: 45px;
    line-height: 45px;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    border: 0;
    cursor: pointer; }
  .register_button input:hover, .register_button .sms_button a:active {
    background-color: #666; }

.sms_button a {
  width: 100px;
  height: 46px;
  line-height: 46px;
  display: block;
  text-align: center;
  color: #000;
  background: #d2d2d2; }

.sms_button a:hover, .sms_button a:active {
  background-color: #666;
  color: #fff; }

.background1 {
  background: #83847e; }

.background2 {
  background: #c6c6c6; }

.background3 {
  height: 45px;
  display: block;
  text-align: center;
  color: #fff;
  margin: 10px auto 0;
  background: #c6c6c6;
  width: 290px;
  font-size: 16px;
  text-indent: px;
  letter-spacing: 2px;
  border: 0;
  cursor: pointer; }

.background3:hover {
  background: #666; }
